# LAB 06: Aggregate Analysis
## Bicycle Share Dataset
## Keith Eckert 3-26-18

In [99]:
import pandas
import numpy
from datetime import date

In [100]:
station_data = pandas.read_csv('./cycle-dataset/station.csv')
trip_data = pandas.read_csv('./cycle-dataset/trip.csv', skiprows=[50793])

weather_data = pandas.read_csv('./cycle-dataset/weather.csv')
# station_data.head()
# weather_data.head()

In [110]:
# trip_data.head()

i) What is the average trip duration for a borrowed bicycle?

In [102]:
duration_avg = round(trip_data['tripduration'].mean(), 2)
print('average trip duration: {} seconds'.format(duration_avg))

average trip duration: 1178.3 seconds

ii) What's the most common age of a bicycle-sharer?

In [106]:
trip_data['starttime'] = pandas.to_datetime(trip_data['starttime'], errors='coerce')
trip_data['age'] = trip_data['starttime'].dt.year - trip_data['birthyear']
common_age = trip_data['age'].mode()
print('most common rider age: {} years old.'.format(common_age))
# trip_data.head()

most common rider age: 0    28.0
dtype: float64 years old.

iii) Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [104]:
# weather_data.head()

In [105]:
weather_data['parsedate'] = pandas.to_datetime(weather_data['Date'], errors='coerce')
weather_data['month'] = weather_data['parsedate'].dt.month
rain_by_month = weather_data[['month', 'Precipitation_In']].groupby(weather_data.month)
sum_prcp = pandas.DataFrame(rain_by_month['Precipitation_In'].sum())
sum_prcp

       Precipitation_In
month
1                  8.90
2                  9.60
3                  9.73
4                  3.08
5                  0.77
6                  1.83
7                  0.75
8                  1.13
9                  1.23
10                 9.45
11                11.27
12                14.65

iv) What’s the average number of bikes at a given bike station?

In [114]:
# station_data.head()

In [126]:
avg_bikes = station_data[['name', 'current_dockcount']].groupby(station_data.name)
avg_bikes.head()

                                                 name  current_dockcount
0                                  3rd Ave & Broad St                 18
1                                   2nd Ave & Vine St                 16
2                              6th Ave & Blanchard St                 16
3                              2nd Ave & Blanchard St                 14
4                                  7th Ave & Union St                 20
5                                  Union St & 4th Ave                 18
6                                 1st Ave & Marion St                 20
7                                 2nd Ave & Spring St                 18
8                      City Hall / 4th Ave & James St                 20
9                                   2nd Ave & Pine St                 18
10                            12th Ave & E Yesler Way                  0
11                           Summit Ave & E Denny Way                 16
12                     E Harrison St & Broadway Ave E                 20
13                     Summit Ave E & E Republican St                 16
14                           15th Ave E & E Thomas St                 16
15                             12th Ave & E Denny Way                 16
16                               E Pine St & 16th Ave                 18
17             Cal Anderson Park / 11th Ave & Pine St                 26
18                            Harvard Ave & E Pine St                 16
19                           Bellevue Ave & E Pine St                 14
20                             12th Ave & E Mercer St                 16
21                              9th Ave N & Mercer St                 18
22  Children's Hospital / Sandpoint Way NE & 40th ...                 24
23  Fred Hutchinson Cancer Research Center / Fairv...                 16
24                       E Blaine St & Fairview Ave E                 18
25                      Eastlake Ave E & E Allison St                 18
26          Frye Art Museum / Terry Ave & Columbia St                  0
27      Seattle University / E Columbia St & 12th Ave                 20
28                              6th Ave S & S King St                 16
29  Occidental Park / Occidental Ave S & S Washing...                 18
30  King Street Station Plaza / 2nd Ave Extension ...                 18
31                         REI / Yale Ave N & John St                 20
32                            Dexter Ave N & Aloha St                 18
33                     Republican St & Westlake Ave N                 18
34                      PATH / 9th Ave & Westlake Ave                 18
35                             Westlake Ave & 6th Ave                 20
36                                  Pine St & 9th Ave                 20
37          Lake Union Park / Valley St & Boren Ave N                 16
38                             Dexter Ave & Denny Way                  0
39                Key Arena / 1st Ave N & Harrison St                 16
40                             Terry Ave & Stewart St                 20
41                              Mercer St & 9th Ave N                 20
42  Burke-Gilman Trail / NE Blakeley St & 24th Ave NE                 18
43                     NE 42nd St & University Way NE                 18
44                          12th Ave & NE Campus Pkwy                 16
45                           NE 47th St & 12th Ave NE                 16
46                       UW McCarty Hall / Whitman Ct                  0
47  Burke Museum / E Stevens Way NE & Memorial Way NE                 14
48                           15th Ave NE & NE 40th St                 16
49  UW Engineering Library / E Stevens Way NE & Je...                 14
50                  UW Intramural Activities Building                 14
51  UW Magnuson Health Sciences Center Rotunda / C...                 16
52                    Pier 69 / Alaskan Way & Clay St                 24
53  Seattle Aquarium / Alaskan Way S & Elliott Bay...                 18
54                           Broadway and E Denny Way                 18
55                              Thomas St & 5th Ave N                 18
56                    NE Pacific St/UW Medical Center                 16
57                    Pier 66 / Alaskan Way & Bell St                 18

v) When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [125]:
station_data['after_mod_count'] = station_data['install_dockcount'] - station_data['current_dockcount']
print('average increase after mod: {} bikes'.format(round(station_data['after_mod_count'].mean(), 2)))

average increase after mod: 1.07 bikes

vi) Come up with 3 more questions that can be answered with this data set.