# LAB 06: Aggregate Analysis
## Video Game Sales
## Keith Eckert 3-26-18

In [4]:
import numpy as np
import pandas as pd
from datetime import date

In [5]:
dataset = pd.read_csv('./video_dataset/vgsales.csv')

## i. Which company is the most common video game publisher?

In [48]:
common = dataset.groupby(['Publisher'])
common['Publisher'].count().sort_values(ascending=False).head(1)

Publisher
Electronic Arts    1351
Name: Publisher, dtype: int64

## ii. What’s the most common platform?

In [46]:
platform = dataset.groupby(['Platform'])
platform['Platform'].count().sort_values(ascending=False).head(1)

Platform
DS    2163
Name: Platform, dtype: int64

## iii. What about the most common genre?

In [47]:
genre = dataset.groupby(['Genre'])
genre['Genre'].count().sort_values(ascending=False).head(1)

Genre
Action    3316
Name: Genre, dtype: int64

## iv. What are the top 20 highest grossing games?

In [95]:
top20 = dataset[['Name', 'Global_Sales']]
top20.head(20)

Name            ¡Shin Chan Flipa en colores!
Global_Sales                           82.74
dtype: object

## v. For North American video game sales, what’s the median?
####              Provide a secondary output showing 'about' ten games surrounding the median                       sales output

In [70]:
na = dataset['NA_Sales'].median()
print('North America median {} '.format(na))

North America median 0.08

In [77]:
dataset['variance'] = abs(dataset['NA_Sales'] - na)
sorted = dataset[['Name', 'variance']]
sorted.sort_values('variance').head(10)

                                               Name  variance
8428                                       Payday 2       0.0
11386                                 Sushi Academy       0.0
10491                                       Syberia       0.0
5803     The Legend of Heroes: Trails of Cold Steel       0.0
3186                                 SingStar Queen       0.0
11390  Super Robot Taisen OG Saga: Endless Frontier       0.0
11403       My English Coach: Para Hispanoparlantes       0.0
8141           Pirates: Hunt For Blackbeard's Booty       0.0
10463      Tom Clancy's Splinter Cell: Chaos Theory       0.0
10461              Metal Arms: Glitch in the System       0.0

## vi. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [78]:
dataset.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,variance
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,41.41
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,29.00
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,15.77
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,15.67
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,11.19

In [97]:
stdna = dataset[['NA_Sales']].std()
meanna = dataset[['NA_Sales']].mean()
top = dataset['NA_Sales']

print('Wii Sports is {} standard deviatons above the mean.'.format((top.max() - meanna )/ stdna))

Wii Sports is NA_Sales    50.478988
dtype: float64 standard deviatons above the mean.