# LAB 06: Aggregate Analysis
## Video Game Sales
## Keith Eckert 3-26-18

In [1]:
import numpy as np
import pandas as pd
from datetime import date

In [2]:
dataset = pd.read_csv('./video_dataset/vgsales.csv')

## i. Which company is the most common video game publisher?

In [3]:
common = dataset.groupby(['Publisher'])
common['Publisher'].count().sort_values(ascending=False).head(1)

Publisher
Electronic Arts    1351
Name: Publisher, dtype: int64

## ii. What’s the most common platform?

In [4]:
platform = dataset.groupby(['Platform'])
platform['Platform'].count().sort_values(ascending=False).head(1)

Platform
DS    2163
Name: Platform, dtype: int64

## iii. What about the most common genre?

In [5]:
genre = dataset.groupby(['Genre'])
genre['Genre'].count().sort_values(ascending=False).head(5)

Genre
Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Name: Genre, dtype: int64

## iv. What are the top 20 highest grossing games?

In [6]:
top20 = dataset[['Name', 'Global_Sales']]
top20.head(20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## v. For North American video game sales, what’s the median?
####              Provide a secondary output showing 'about' ten games surrounding the median                       sales output

In [7]:
na = dataset['NA_Sales'].median()
print('North America median {} '.format(na))

North America median 0.08

In [8]:
dataset['variance'] = abs(dataset['NA_Sales'] - na)
sorted = dataset[['Name', 'variance']]
sorted.sort_values('variance').head(10)

                                               Name  variance
8428                                       Payday 2       0.0
11386                                 Sushi Academy       0.0
10491                                       Syberia       0.0
5803     The Legend of Heroes: Trails of Cold Steel       0.0
3186                                 SingStar Queen       0.0
11390  Super Robot Taisen OG Saga: Endless Frontier       0.0
11403       My English Coach: Para Hispanoparlantes       0.0
8141           Pirates: Hunt For Blackbeard's Booty       0.0
10463      Tom Clancy's Splinter Cell: Chaos Theory       0.0
10461              Metal Arms: Glitch in the System       0.0

## vi. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [9]:
dataset.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,variance
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,41.41
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,29.00
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,15.77
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,15.67
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,11.19

In [10]:
stdna = dataset[['NA_Sales']].std()
meanna = dataset[['NA_Sales']].mean()
top = dataset['NA_Sales']

print('Wii Sports is {} standard deviatons above the mean.'.format((top.max() - meanna )/ stdna))

Wii Sports is NA_Sales    50.478988
dtype: float64 standard deviatons above the mean.

### vii. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [11]:
wii = dataset.loc[dataset['Platform'] == 'Wii']['Global_Sales'].mean()
print('wii => {}'.format(wii))
other = dataset.loc[dataset['Platform'] != 'Wii']['Global_Sales'].mean()
print('other => {}'.format(other))

wii => 0.6994037735849057
other => 0.5233896418516336

### ix. Come up with 3 more questions that can be answered with this data set.

## Custom Tests i
#### Find titles from Electronic Arts

In [14]:
dataset[dataset.Publisher == 'Electronic Arts'].head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,variance
77,78,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49,1.03
82,83,FIFA Soccer 13,PS3,2012.0,Action,Electronic Arts,1.06,5.05,0.13,2.01,8.24,0.98
83,84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.00,0.71,8.11,0.90
92,93,Star Wars Battlefront (2015),PS4,2015.0,Shooter,Electronic Arts,2.93,3.29,0.22,1.23,7.67,2.85
99,100,Battlefield 3,X360,2011.0,Shooter,Electronic Arts,4.46,2.13,0.06,0.69,7.34,4.38

## Custom Tests ii
#### Find lowest ranked titles from Electronic Arts

In [15]:
EA = dataset[dataset.Publisher == 'Electronic Arts']
EA[['Rank', 'Name']].sort_values('Rank').tail(5)

        Rank                        Name
16339  16342  Command & Conquer Renegade
16384  16387           Poker for Dummies
16413  16416    The Godfather (JP sales)
16539  16542   Spore Galactic Adventures
16554  16557           Psychic Detective

## Custom Test iii
#### Top selling publisher in JP

In [16]:
jp = dataset[['Publisher', 'JP_Sales']]
jp_count = jp.groupby('Publisher').count()
jp_count.sort_values('JP_Sales', ascending=False).head(5)

                              JP_Sales
Publisher
Electronic Arts                   1351
Activision                         975
Namco Bandai Games                 932
Ubisoft                            921
Konami Digital Entertainment       832